.App {
  /* margin-right: 12px;
  margin-left: 129px; */
  height: 935px;
  width: 1918px;

  text-align: center;
}

.logo {
  
  pointer-events: none;
  width: 310px;
  height: 122px;
}
.row{
  display: flex;
}
.container_content1{
  margin: 30px 219px  40px  219px;
    background: #EFEFEF;
  width: 1510px;
  height: 210px;
  
}
.h1_content1{
  padding-top: 35px;
  display: flex;
  justify-content: center;
  color: #000;
font-size: 18px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.div_content1{
  display: inline-block;
  width: 972px;
  line-height: normal;
  text-align: center;
  font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.content2{
  margin-left: 32px;
  width: 470px;
height: 252px;
}
.content2_con{
  
  margin-left: 16px;
  width: 326px;
  height: 134px;
  text-align: left;
  font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.content2_con_duoi{
  width: 470px;
height: 72px;
    text-align: left;
    font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.i1{
  width: 128px;
height: 128px;
}
.h1_content2{
  text-align: left;
}

.footer{
  
  border-top: 1px solid #3E3E3E;
  margin-top: 30vh;
  font-family: Roboto;  
  color: #3E3E3E;
font-size: 16px;

font-style: normal;
font-weight: 400;
}
.menu_container{
  padding-right: 24px;
  position: relative;
  width: 150px;
height: 935px;
background: #191718;
text-align: left;

}
.menu_container ul li a {
 
color: #FFF;
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;
border-bottom: 1px solid #5C5C5C;
}
.menu_container ul li {
  text-decoration: none;
  list-style: none;
  /* border-bottom: 1px solid black; */
  padding: 10px 0;
}
hr {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  
}


.row1{
  margin: 0 180px;
    width: 1510px;
  display: flex;
  
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
  .row1 {
    margin-bottom: 100px ;
    display: block;
    margin-left: 35%;
    
  }
  .content2{
    margin-bottom: 50px;
  }
  .menu_container{
    height: 100vh;

  }
}
img.boder {
  width: 100%;
  left: 0px;
  position: absolute;
}
ul.menu_ul {
  box-sizing: border-box;
  padding: 0;
  margin-left : 57px;
  text-align: left;
}